body {
  margin: 0;
  color: white;
}

.App {
  text-align: center;
  background-color: #1a1a1e;
  height: 100vh;
  width: 100vw;
}

.Game {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Board {
  height: 400px;
  width: 400px;
}

.row {
  height: 33%;
  margin-bottom: 10px;
}

.Cell {
  height: 100%;
  width: 30%;
  margin-left: 10px;
  font-size: 70px;
  border-radius: 20px;
  border: none;
  outline: none;
}
